<section class="calculator">
  <div class="separating-line top"></div>
  <h3 class="calc-header">Калькулятор</h3>
  <div class="calc-body">
    <input type="text" class="calc-num1" placeholder="Введіть число" />
    <div class="calc-signs">
      <div class="calc-sign addittion">+</div>
      <div class="calc-sign multiply">*</div>
      <div class="calc-sign subtract">-</div>
      <div class="calc-sign divide">/</div>
    </div>
    <input type="text" class="calc-num2" placeholder="Введіть число" />
    <div class="calc-sign equals">=</div>
    <input type="text" class="calc-result" placeholder="Результат" />
  </div>
  <div class="separating-line bottom"></div>
</section>
