<section class="calculator">
  <div class="separating-line top"></div>
  <h3 class="calc-header">Калькулятор</h3>
  <div class="calc-body">
    <input type="text" class="calc-num input1" placeholder="Введіть число" />
    <ul class="calc-signs">
      <li><button class="calc-sign add">+</button></li>
      <li><button class="calc-sign multiply">*</button></li>
      <li><button class="calc-sign subtract">-</button></li>
      <li><button class="calc-sign divide">/</button></li>
    </ul>
    <input type="text" class="calc-num input2" placeholder="Введіть число" />
    <button class="calc-sign equals">=</button>
    <div class="calc-result">Результат</div>
  </div>
  <div class="separating-line bottom"></div>
</section>
