<footer>
    <div class="footer-content">
      <div class="logo">
        <img src="Group 128 1.svg" alt="Logo" />
      </div>
      <div class="contact-info">
        <p>Тел: +38 (123) 456 78 90</p>
        <p>E-Mail: codingmagic@gmail.com</p>
        <p>Facebook: CodingMagic</p>
        <p>Twitter: CodingMagic</p>
        <p>Instagram: CodingMagic</p>
      </div>
      <div class="email-input">
        <input type="email" placeholder="Ваша ел. адреса..." />
        <button type="submit">Підписатись</button>
        <p class="small-text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
      </div>
    </div>
</footer>
  