<section class="header">
    <div class="container_header">

        <img class="header-logo" src="" alt="notgg">
        <ul class="header_list">
            <li class="header_item">
                <div class="legendary_combo">
                    <p class="header_text class">Інтерактив</p>
                    <svg class="burger">
                        <use href=""></use>
                    </svg>
                </div>
                </svg>
            </li>
            <li class="header_item">
                <p class="header_text">Наша команда</p>
            </li>
            <li class="header_item">
                <p class="header_text">Контакти</p>
            </li>
        </ul>
        <button class="btn_day_night">
            <svg class="day_night">
                <use href=""></use>
            </svg>
        </button>
    </div>
</section>