<section>
    <div class="container_modal_first" data-modal>
        <button class="modal__btn" data-modal-close>
            <svg class="svg_no" width="17" height="17" fill="black">
                <use href=""></use>
            </svg>
        </button>
        <p class="modal_text">
            Привіт!<br>
            Ви потрапили на сайт інтерактивних ігор та завдань<br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!<br>
            Бажаємо Вам гарно провести час!
        </p>
        <p class="modal_parmpampam">
            Введіть своє ім’я:
        </p>
        <label class="modal_form">
            <input class="modal_input" name="name" placeholder="Ваше ім’я...">
        </label>
        <button class="modal_btn">Зберегти</button>
    </div>
    <div class="container_modal_second" data-modal>
        <button class="modal__btn" data-modal-close>
            <svg class="svg_no" width="17" height="17" fill="black">
                <use href="">
                </use>
            </svg>
        </button>
        <h3 class="thank">
            Дякую за підписку!
        </h3>
    </div>
</section>